<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820077795301-1i7ma78fganiuhpjm51fq6ips4jsd3h2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820077795301-1i7ma78fganiuhpjm51fq6ips4jsd3h2</string>
	<key>API_KEY</key>
	<string>AIzaSyA9nyFlSbM0sG0QCVbZQSDRp4hG9b5-iT8</string>
	<key>GCM_SENDER_ID</key>
	<string>820077795301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MunimTechnologies.GoogleSignInFirebaseSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>example-1e5c2</string>
	<key>STORAGE_BUCKET</key>
	<string>example-1e5c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820077795301:ios:bb988968f259e5898e410c</string>
</dict>
</plist>